/*вспомогательные классы*/

/*чтобы картинки не уходили за границы*/
img {
  max-width: 100%;
  height: auto;
}

/*Класс для того, чтобы контейнер float разметки "видел" их */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/*КОНЕЦ Вспомогательны классы*/
/*Спрайты*/
.sprite {
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
}

.sprite-facebook {
  width: 16px;
  height: 16px;
  background-position: -10px -10px;
}

.sprite-linkdin {
  width: 16px;
  height: 16px;
  background-position: -46px -10px;
}

.sprite-search-button {
  width: 28px;
  height: 31px;
  background-position: -82px -10px;
}

.sprite-twitter {
  width: 16px;
  height: 16px;
  background-position: -130px -10px;
}

.sprite-warning-icon {
  width: 42px;
  height: 47px;
  background-position: -166px -10px;
}

/**/
body {
  /*позиционирование*/
  /*блочная модель*/
  /*типографика*/
  
  font-family: "Arial", sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 17px;
  /*оформление*/
   
  background-color: #1f3d5d;  
  color: #777777;
  /*анимация*/
  /*разное*/
}

.p404{
  width: 940px;
  min-height: 350px;
  margin: auto;
  margin-top: 110px;
  padding-bottom: 50px;
  background-color: #f2f2f2;
  border-radius: 3px;
  
}

.left-section {
  position: relative;
  float: left;
  width: 342px;
  padding: 0 24px; 
  padding-top: 88px;   
}

.right-section {
  position: relative;
  float: right;
  width: 506px;
  padding-left: 44px;  
}

.rs-h3{
  margin: 0;
  padding: 0;
  font-size: 15px;
}  

.alarm-text-h1 {
  display: block;  
  margin: 0;
  font-family: "BN Emulator", "Arial", sans-serif;
  font-size: 170px;
  line-height: 170px;
  color: #2d5b89;
  text-shadow: 0 -3px 2px #152b41;
}

.alarm-text {
  position: absolute;
  top: 254px;
  left: -24px;
  width: 350px;
  padding-left: 48px;
  padding-bottom: 20px;
  font-size: 26px;
  line-height: 44px;
  background-color: #969696;
  background: url("../img/line-right.png") no-repeat;
  color: #fff;
  border-radius: 2px;
  text-shadow: 0 -1px 0 #adadad;
}

.alarm-text-img{
  position: absolute;
  top: 238px;
  left: 310px;
  z-index: 10;
}

/*right-section*/
.div-section-img {
  position: absolute;
  top: 10px;
  left: 18px;
  width: 12px;
  height: 375px;
}

.info-text-h2 {
  margin: 0;
  padding: 0;
  margin-top: 27px;
  font-size: 22px;
  color: #1f3d5d; 
}

.info-text {
  margin-right: 5px;
}
  
.list-page-h3 {
  position: relative;
  left: -30px;
  display: block;
  width: 222px;  
  margin-top: 18px;
  margin-bottom: 7px;
  padding-left: 30px;  
  line-height: 34px;
  background-color: #1f3d5d;   
  background: url("../img/line-left.png") no-repeat;
  color: #fff;
  border-radius: 2px;  
}

.list-page{
    margin: 0;
    padding: 0;
    padding-right: 67px;
    padding-bottom: 37px;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;        
    list-style: url(../img/arrow.png) inside;
}

.list-page-item {
  width: 188px;
  border-bottom: 1px solid #d8dce1;
  list-style-type: none; 
}

.list-page-item a{
  display: block;  
  font-size: 12px;
  line-height: 27px;
  text-decoration: none;
  color: #777777;
}

.footer-page404 {
  position: absolute;
  bottom: -53px;
}

.p404-follow {
  float: left;
  margin-right: 38px;
}

.p404-follow-h3{
  display: inline-block;
  line-height: 29px;  
  vertical-align: top;
  color: #5e7c9a;
}

.p404-follow-icon-triangle{
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;  
  border-top: 15px solid transparent;
	border-right: 11px solid #d5d5d5;
	border-bottom: 15px solid transparent;
}

.p404-follow-icon {
  display: inline-block;
  width: 90px;
  height: 29px;
  margin-left: -0.31em;
  vertical-align: top;
  background-color: #d5d5d5;  
}

.p404-fi-item {
  display: inline-block;
  margin-left: -0.25em;
  margin: 6px 5px;
  vertical-align: top;
  border-radius: 3px;
  box-shadow: 1px 1px 4px 0 #a8a8a8;
}

.p404-fi-item a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.p404-search {
  float: right;
  width: 275px;
}

.p404-search-input {
  display: inline-block;
  height: 23px;
  width: 206px;
  margin-right: 2px;
  padding-left: 9px;
  vertical-align: top;
  border: 1px solid #d8dce1;
  border-radius: 3px;
  box-shadow: inset 0 5px 10px 0 #ebebeb;
}

.p404-search-icon{
  display: inline-block;
  cursor: pointer;
}